<section class="section is-medium">
  <div class="container is-fluid">
    
    <div class="block">
      <div class="columns box">
        <div class="column" id="disburser">
          
          
          <form action="" id="forecaster">
            
            <fieldset class="customFold">

              <legend class="customLofty">find weather</legend>
              
              <p class="content is-small customParaphrase">Choose any name from the list of more than 70 cities so you can obtain weather information for that location. </p>
              
              <div class="field">
                
                <label for="WhenTheLightsGoDownInThe" class="label">City</label>
                
                <div class="control has-icons-left">
                  <div class="select is-success">
                    
                    <select name="WhenTheLightsGoDownInThe" id="WhenTheLightsGoDownInThe" [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}" (ngModelChange)="onWeatherChange(selectedValue)">
                      <option [ngValue]="null">Choose a location</option>
                      <option *ngFor="let location of locations" [ngValue]="location">
                        {{ location.name }}
                      </option>
                    </select>

                  </div>
                  <span class="icon is-large is-left">
                    <i class="fas fa-globe"></i>
                  </span>
                </div>

              </div>

            </fieldset>

            <fieldset class="customFold">
              
              <legend class="customLofty">find with global positioning</legend>
              
              <p class="content is-small customParaphrase">Obtain weather information by means of your latitude and longitude. </p>

              <div class="field">
                <label for="geolo" class="label">Geolocation positioning</label>
                <div class="control">
                  <button id="geolo" class="button is-success is-outlined" (click)="onWeatherClick($event)">
                    Get Weather
                  </button>
                </div>
              </div>

            </fieldset>

          </form>

        </div>
      </div>
    </div>

    <div class="block">
      <div class="columns box">
        <div class="column" id="sourceOut">

          <app-weather [isError]="isError" [isLoading]="isLoading" [formatted_currentdate]="formatted_currentdate" [formatted_sunrise]="formatted_sunrise" [formatted_sunset]="formatted_sunset" [formatted_dayofweek]="formatted_dayofweek" [selectedWeather]="selectedWeather"></app-weather>
          
        </div>
      </div>
    </div>

  </div>
</section>

<!-- <p>form-weather works!</p> -->
