
<app-loading *ngIf="isLoading === true"></app-loading>

<app-custom-error *ngIf="isError !== null" [isError]="isError"></app-custom-error>

<figure *ngIf="!selectedWeather && isLoading === false && isError === null" id="fFrag" class="image">
  <img id="initialIcon" class="customStrongImage" [src]="logoUrl" alt="owa logo" />
</figure>

<!-- <p *ngIf="selectedWeather">{{ selectedWeather | json }}</p> -->

<section *ngIf="selectedWeather" class="section is-info" id="sectionFrag">
  <div class="container">
  
    <div class="tile is-ancestor">

      <div class="tile is-vertical is-8">
  
        <div class="tile">

          <div class="tile is-parent is-vertical">

            <article class="tile is-child notification is-primary">
              <app-logo></app-logo>
              <p class="title"> {{ selectedWeather.city.name }} Weather Forecasts</p>
              <p class="subtitle">Nearest weather station: {{ selectedWeather.city.name }}, {{ selectedWeather.city.country }}  &nbsp;</p>
            </article>

            <article class="tile is-child notification is-warning">

              <div class="content" *ngFor="let day of selectedCityList; let i = index">
                <p class="title is-4" *ngIf="i === 0">Current Weather in {{ selectedWeather.city.name }} </p>
                <p class="subtitle is-3" *ngIf="i === 0"> {{ day.main.temp | number:'.0-0' }} &deg; F </p>
                <p class="subtitle is-5" *ngIf="i === 0">High: {{ day.main.temp_max | number:'.0-0' }} &deg; F </p>
                <p class="subtitle is-5" *ngIf="i === 0">Low: {{ day.main.temp_min | number:'.0-0' }} &deg; F </p>
                <p class="subtitle is-4" *ngIf="i === 0"> {{ day.weather[0].main }} </p>
              </div>

            </article>

          </div>
          
          <div class="tile is-parent">
            <article class="tile is-child notification is-info">
              
              <figure class="image" *ngFor="let day of selectedCityList; let i = index">
                <img src="/assets/images/weathercodes/{{ day.weather[0].id }}.gif" alt="weathercode" *ngIf="i === 0"/>
              </figure>

            </article>
          </div>



        </div>
  
        <div class="tile is-parent">

          <article class="tile is-child notification is-success">
            <div class="content">
              
              <p class="title">Detailed Local Forecast for {{ selectedWeather.city.name }} </p>

              <div class="content" *ngFor="let day of selectedCityList; let i = index">
                <p><strong> {{ day.dt * 1000 | date:'EEEE' }}. </strong>&nbsp; {{ day.weather[0].description }}.&nbsp;High {{ day.main.temp_max | number:'.0-0' }} &deg; F.&nbsp;Low {{ day.main.temp_min | number:'.0-0' }} &deg; F.&nbsp;Winds up to {{ day.wind.speed | number:'.0-0' }} mph in some cases. </p>
              </div>
              
            </div>
          </article>

        </div>
  
      </div>
      
  
      <div class="tile is-parent">

        
        
        <article class="tile is-child notification is-danger">

          <div class="content" *ngFor="let day of selectedCityList; let i = index">
            <p class="content"><em *ngIf="i === 0">Forecasted weather for {{ day.dt_txt }} </em></p>

            <dl *ngIf="i === 0">
              
              <dt>Wind: </dt>
              <dd>Winds at {{ day.wind.speed | number:'.0-0' }} mph</dd>

              <dt>Humidity: </dt>
              <dd> {{ day.main.humidity }} &#37;</dd>

              <dt>Barometric Pressure: </dt>
              <dd> {{ day.main.pressure }} hPa</dd>

            </dl>
          </div>

        </article>


        
      </div>
  
    </div>

    <div class="tile is-ancestor">
      
      <div class="tile is-parent" *ngFor="let day of selectedCityList; let i = index">
        <article class="tile is-child notification is-black">
          <p class="title has-text-centered is-4" >{{ day.dt * 1000 | date:'EEEE' }}</p>
          <p class="subtitle has-text-centered" > {{ day.weather[0].description }} </p>
          
          <figure class="image is-128x128 customCenteredMargin">
            <img class="img customImgBackdrop" src="/assets/images/weathercodes/{{ day.weather[0].id }}.gif" alt="weathercode"  />
          </figure>

          <p class="has-text-centered" ><strong>High: </strong> {{ day.main.temp_max | number:'.0-0' }} &deg; F.</p>
          <p class="has-text-centered" ><strong>Low: </strong> {{ day.main.temp_min | number:'.0-0' }} &deg; F.</p>
        </article>
      </div>
      
    </div>

  </div>
</section>

<!-- <p>form works!</p> -->