
<app-loading *ngIf="isLoading === true"></app-loading>

<app-custom-error *ngIf="isError !== null" [isError]="isError"></app-custom-error>

<figure *ngIf="!selectedWeather && isLoading === false && isError === null" id="fFrag" class="image">
  <img id="initialIcon" class="customStrongImage" [src]="logoUrl" alt="owa logo" />
</figure>

<!-- <p *ngIf="selectedWeather">{{ selectedWeather | json }}</p> -->

<section *ngIf="selectedWeather" class="section is-info" id="sectionFrag">
  <div class="container">
    
    <div class="tile is-ancestor">

      <div class="tile is-vertical is-8">
  
        <div class="tile">

          <div class="tile is-parent is-vertical">

            <article class="tile is-child notification is-primary">
              <app-logo></app-logo>
              <p class="title">{{ selectedWeather.name }} Weather Forecasts</p>
              <p class="subtitle">Nearest weather station: {{ selectedWeather.name }}, {{ selectedWeather.sys.country }} &nbsp;</p>
            </article>

            <article class="tile is-child notification is-warning">
              <p class="title is-4">Current Weather in {{ selectedWeather.name }}</p>
              <p class="subtitle is-3">{{ selectedWeather.main.temp }}&deg; F</p>
              <p class="subtitle is-5">High: {{ selectedWeather.main.temp_max }}&deg; F</p>
              <p class="subtitle is-5">Low: {{ selectedWeather.main.temp_min }}&deg; F</p>
              <p class="subtitle is-4">{{ selectedWeather.weather[0].main }}</p>
            </article>

          </div>

          <div class="tile is-parent">
            <article class="tile is-child notification is-info">
              
              
              <figure class="image">
                <img src="/assets/images/weathercodes/{{ selectedWeather.weather[0].id }}.gif" alt="weathercode" />
              </figure>
              
              <p class="content"><em>Current conditions as of {{ formatted_currentdate }}</em></p>

            </article>
          </div>

        </div>
  
        <div class="tile is-parent">

          <article class="tile is-child notification is-success">
            <div class="content">
              <p class="title">Detailed Local Forecast for {{ selectedWeather.name }}</p>
              <div class="content">
                <p><strong>{{ formatted_dayofweek }}. </strong>&nbsp;{{ selectedWeather.weather[0].description }}. &nbsp;High {{ selectedWeather.main.temp_max }} &deg; F.
                  Low {{ selectedWeather.main.temp_min }} &deg; F.
                  Winds up to {{ selectedWeather.wind.speed }} mph in some cases.</p>
              </div>
            </div>
          </article>

        </div>
  
      </div>
      
  
      <div class="tile is-parent">

        <article class="tile is-child notification is-danger">

          <div class="content">
            <dl>
              
              <dt>Wind: </dt>
              <dd>Winds at {{ selectedWeather.wind.speed }} mph</dd>

              <dt>Visibility: </dt>
              <dd>{{ selectedWeather.visibility }} meters</dd>

              <dt>Humidity: </dt>
              <dd>{{ selectedWeather.main.humidity }} &#37;</dd>

              <dt>Barometric Pressure: </dt>
              <dd>{{ selectedWeather.main.pressure }} hPa</dd>

              <dt>Sunrise (local time): </dt>
              <dd>{{ formatted_sunrise }}</dd>

              <dt>Sunset (local time): </dt>
              <dd>{{ formatted_sunset }}</dd>

            </dl>
          </div>

        </article>
        
      </div>
  
    </div>

    

  </div>
</section>


<!-- <p>weather works!</p> -->
