<section class="section hero is-bold is-warning">
    
  <div class="hero-body container has-text-centered">
    <h1 id="apptitle" class="title is-1">Open Weather App</h1>
    <h2 class="subtitle is-2">NG8 OWA Bulma App</h2>
    <h3 class="subtitle is-3" appMyPresentYear>
      Application modernized for use in 
    </h3>
  </div>
  
  <nav class="navbar is-transparent">

    <div class="navbar-brand">
      <div class="navbar-burger burger" data-mytarget="navbarExampleTransparentExample" (click)="flexExtendBurger()" appBurger>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  
    <div id="navbarExampleTransparentExample" class="navbar-menu">
      
      <div class="navbar-start">
        <a class="navbar-item" routerLink="/weather" routerLinkActive="is-active">
          Weather
        </a>
        <a class="navbar-item" routerLink="/forecast" routerLinkActive="is-active">
          Forecast
        </a>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control has-text-centered">
              <a class="navbar-item" href="#" (click)="noOpLink($event)" routerLinkActive="is-active">
                Made with &nbsp; <img [src]="bulmaLogoUrl" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28" />
              </a>
            </p>
          </div>
        </div>
      </div>

    </div>
  </nav>
  
</section>

<!-- <p>nav works!</p> -->
