<!-- <p>footer works!</p> -->

<section class="section">
  <div class="container">
    <footer class="footer">
      <div class="has-text-centered">
        <p class="content is-small">
          Concept, artwork, etc. by  &lsquo;don Lucho&rsquo; (yada, yada, yada) &copy; {{ myPresentYear }}
        </p>
      </div>
    </footer>
  </div>
</section>