<section class="hero is-danger">
  <div class="hero-body">
    <div class="container has-text-centered">
      
      <h3 class="title is-3">
        Loading Error
      </h3>

      <h4 class="subtitle is-4">
        An error has occurred
      </h4>

      <!-- <code *ngIf='isError.message'>Error message: {{ isError.message }} </code>
      <code *ngIf='isError.name'>Error name: {{ isError.name }} </code> -->

      <code>Error: {{ isError.message }} </code>
      

    </div>
  </div>
</section>

<!-- <p>custom-error works!</p> -->
