/* You can add global styles to this file, and also import other style files */


figure#fFrag.image {
  position: initial;
  margin: 0 17.5% 0% 17.5%;
  width: 65%;
}

fieldset.customFold {
  border: .063em solid rgba(10,10,10,.25);
  margin-bottom: 2rem;

  margin-top: 0; margin-right: 1.25%; margin-bottom: .625%; margin-left: 1.25%; 
  padding-top: 1.25%; padding-right: 1.25%; padding-bottom: 1.25%; padding-left: 1.25%; 
}

legend.customLofty { 
  text-transform: capitalize; 
  padding: 0.875% 1.5% 2.25% 1.5%;
}

.customCenteredMargin {
  margin: 0 auto;
}

.customImgBackdrop {
  background-color: rgba(255,255,255,1)
}
